@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

:root {
  font-family: Inter, "Plus Jakarta Sans", sans-serif;
  background-color: white;

}


body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-disable: #5A5A5A;
  --color-main: #2B2B2B;
  --color-mainwine: #DDF472;
  /* --color-midnight: #121063; */
}

